<div class="bg-soft-amber-200 pt-6 pb-10 px-6 text-center">
    <div>
        <div class="font-assistant text-right mb-6">
            <h3><a class="hover:cursor-pointer hover:border-b border-fuscous-gray-700" href="/about">IRINADELAMORENA</a>
                |
                <a class="hover:cursor-pointer hover:border-b border-fuscous-gray-700"
                    href="https://www.instagram.com/styledbyirina/">INSTAGRAM</a> |
                <a class="hover:cursor-pointer hover:border-b border-fuscous-gray-700"
                    href="https://www.shopltk.com/explore/styledbyirina">LTK</a>
            </h3>
        </div>
        <div class="mt-20">
            <a href="/main">
                <h2 class="font-cinzel text-fuscous-gray-700 text-3xl md:text-6xl mt-6">
                    S T Y L E D B Y I R I N A
                </h2>
                <div class="-my-36 text-center">
                    <img class="mx-auto aspect-1 h-56" src="../../../assets/logo.svg" alt="">
                </div>
            </a>

        </div>
    </div>
    <h2 class="font-assistant text-sm md:text-lg mt-36 hover:cursor-default ">
        ESTILISTA Y ASESORA DE IMAGEN
    </h2>
</div>


<!-- <div class="grid grid-cols-6 pr-6 bg-orange-400 py-6">
    <div class="col-start-4 col-end-5 text-right" >
        ABOUT ME
    </div>
    <div class="col-span-1 text-right" >
        SERVICIOS
    </div>
    <div class="col-span-1 text-right" >
        CONTACTO
    </div>
</div> -->