<div class="grid h-full grid-rows-1 p-4 prose font-abhaya">
    <div class="row-span-5 text-xl">
        <p class="text-3xl text-center font-cinzel ">{{card.title}}</p>
        <p class="mb-2 font-assistant">{{ card.description }}</p>
        <p>{{ card.itemDescription }}</p>
        <ul *ngFor="let item of card.items" class="mx-2">
            <li>
                {{ item }}
            </li>
        </ul>
    </div>
    <p class="row-span-1 text-3xl text-center font-abhaya">
        {{ card.price | currency:"USD":"symbol"}}
    </p>
</div>