<section class="h-72">
    <img class="object-cover w-full h-full" src="../../../assets/images/banners/portfolio-banner.png" alt="banner">
</section>

<section class="grid grid-cols-1 m-12 mb-16 md:grid-cols-10 md:m-0 gap-7">
    <div class="col-span-1 md:col-span-4 md:col-start-2">
        <img class="md:-mt-36" src="../../../assets/images/outfit-7.jpg" alt="profile">
    </div>
    <div class="col-span-1 md:col-span-4 md:mt-12">
        <div class="mt-12 prose text-center md:ml-16 font-assistant">
            <h4 class="text-4xl font-cinzel">{{ 'PORTFOLIO' | translate }}</h4>
            <p class="text-xl text-justify"> {{ 'PORTFOLIO_DESC' | translate }} </p>
        </div>

    </div>
</section>

<section class="mt-5 md:px-6 bg-soft-amber-200">
    <app-gallery [images]="images" class="m-4"></app-gallery>
</section>

<section class="md:px-6 ">
    <app-gallery [images]="images2" class="m-4"></app-gallery>
</section>