<section class="h-72">
    <img class="object-cover w-full h-full" src="../../../assets/images/banners/main-banner.png" alt="banner">
</section>

<section class="grid grid-cols-1 m-12 md:grid-cols-10 md:m-0 gap-7">
    <div class="col-span-1 md:col-span-4 md:col-start-2">
        <img class="object-cover w-full h-full md:-mt-36" src="../../../assets/images/irina/about.png" alt="irina">
    </div>
    <div class="col-span-1 md:col-span-4 md:mt-12">
        <div class="prose text-center md:mr-12 font-assistant">
            <h2 class="text-3xl text-center font-abhaya">{{ 'ABOUT_ME.ABOUT_ME' | translate}}</h2>
            <h4 class="text-4xl font-cinzel">{{ 'FULL_NAME' | translate }}</h4>
            <p class="text-xl text-justify"> {{ 'ABOUT_ME.DESCRIPTION' | translate }} </p>
        </div>

    </div>
</section>

<section class="px-12 py-8 mt-8 h-96 bg-ebb-100 font-assistant">
    <h4 class="text-4xl font-abhaya">STYLEDBYIRINA</h4>
    <p class="text-xl text-justify" > {{ 'ABOUT_ME.HISTORY' | translate }} </p>
</section>

<section class="grid grid-cols-12 px-12 py-8 gap-7">
    <div class="col-span-8 bg-soft-amber-200 font-assistant">
        <h4 class="pt-8 pl-8 text-4xl font-cinzel">{{ 'ABOUT_ME.MY_VALUES' | translate }}</h4>
        <p class="mx-8 mb-4 text-xl text-justify"> {{ 'ABOUT_ME.VALUES_INFO' | translate }} </p>
        <p class="ml-12 mr-8 text-xl text-justify"> {{ 'ABOUT_ME.VALUES_0' | translate }} </p>
        <p class="ml-12 mr-8 text-xl text-justify"> {{ 'ABOUT_ME.VALUES_1' | translate }} </p>
        <p class="ml-12 mr-8 text-xl text-justify"> {{ 'ABOUT_ME.VALUES_2' | translate }} </p>
        <p class="ml-12 mr-8 text-xl text-justify"> {{ 'ABOUT_ME.VALUES_3' | translate }} </p>
        <p class="ml-12 mr-8 text-xl text-justify"> {{ 'ABOUT_ME.VALUES_4' | translate }} </p>
        <p class="ml-12 mr-8 text-xl text-justify"> {{ 'ABOUT_ME.VALUES_5' | translate }} </p>
        <p class="mx-8 mt-4 text-xl text-justify"> {{ 'ABOUT_ME.VALUES_SUMMARY' | translate }} </p>
    </div>
    <div class="col-span-4">
        <img class="object-contain" src="../../../assets/images/irina/values.png" alt="irina-values">
    </div>
</section>