<section class="p-5 grid grid-cols-2">
    <div class="col-span-1">
        <img src="../../../assets/irina.webp" alt="irina">
    </div>
    <div class="col-span-1 text-justify">
        <h2 class="font-abhaya text-center text-3xl">¿QUIÉN SOY?</h2>
        <div class="font-assistant text-justify text-xl mx-6 ">
            <p class=" font-abhaya mt-12 text-3xl ">Irina de la Morena</p>
            <p class="mt-12">Estilista y asesora de imagen.</p>
            <p class="mt-12">
                Estudios (Asesoría de Imagen Personal y Corporativa) cursados
                en Barcelona, mi ciudad natal.
            </p>
            <p class="mt-12">Dos años de experiencia en el sector de la moda.</p>
            <p class="mt-12">Amante de la moda desde que tengo memoria.</p>
        </div>

    </div>
</section>