<section class="md:h-screen text-fuscous-gray-700 drop-shadow-lg">
    <div class="w-full mt-6 text-center rounded-sm bg-soft-amber-200 md:w-4/5 font-abhaya">
        <p class="grid text-6xl place-items-center md:mr-36 h-72">
            SERVICIOS
        </p>
    </div>
    <div class="grid grid-cols-2 place-items-center md:-mt-24">
        <div class="col-span-2 mx-12 my-6 text-center md:col-span-1 font-assistant">
            <p class="mb-6 text-4xl font-abhaya">
                Totalmente personalizados
            </p>
            <p>
                Looks para sesiones de fotos, outfits para
                el día a día, creación de un look adaptado
                a la promoción de un producto, creación
                armario cápsula, prueba de color, estudio
                morfológico...
            </p>
            <p class="mt-6 text-2xl">
                ¡Cualquier servicio que solicites!
            </p>
        </div>
        <img fetchpriority="high"
            class="hidden col-span-2 mt-3 rounded-sm shadow-md md:col-span-1 shadow-fuscous-gray-300 md:mt-0 md:block"
            src="../../../assets/hanged-clothes.webp" alt="hanged clothes">
    </div>
</section>

<section class="grid grid-cols-12 gap-6 mb-6 md:mx-6 place-items-center md:mt-3">
    <app-card class="flex flex-col h-full col-span-12 mt-5 rounded-sm bg-soft-amber-200 md:col-span-4 drop-shadow-lg"
        *ngFor="let card of cards" [card]="card">
    </app-card>
</section>

<section class="w-full">
    <p class="my-3 text-2xl text-center font-assistant">Servicio disponible en español e inglés.</p>
    <p class="my-3 text-2xl text-center font-assistant">
        Para más información enviame un
        <a class="hover:cursor-pointer border-b border-fuscous-gray-700"
            href="https://www.instagram.com/styledbyirina/">DM</a>
        ó
        <a class="hover:cursor-pointer border-b border-fuscous-gray-700" (click)="isFormShown = true">haz click
            aqui</a>
    </p>
    <p class="w-full my-3 text-xl text-center font-assistant">
        Precio relativo a demanda.
    </p>
</section>
<section>
    <div class="text-center py-14 bg-ebb-200 text-fuscous-gray-700">
        <p class="text-6xl py-14 font-abhaya">Resultados</p>
        <div class="grid grid-cols-3 gap-3 mx-3 place-items-center md:gap-8 md:mx-8">
            <div class="col-span-3 md:col-span-1"><img loading="lazy" class="shadow-md shadow-fuscous-gray-300 "
                    src="../../../assets/hanged-clothes.webp" alt=""></div>
            <div class="col-span-3 md:col-span-1"><img loading="lazy" class="shadow-md shadow-fuscous-gray-300 "
                    src="../../../assets/hanged-clothes.webp" alt=""></div>
            <div class="col-span-3 md:col-span-1"><img loading="lazy" class="shadow-md shadow-fuscous-gray-300 "
                    src="../../../assets/hanged-clothes.webp" alt=""></div>
        </div>
    </div>
    <div class=" py-14">
        <div class="grid grid-cols-3 gap-3 mx-3 place-items-center md:gap-8 md:mx-8">
            <div class="col-span-3 md:col-span-1"><img loading="lazy" class="shadow-md shadow-fuscous-gray-300 "
                    src="../../../assets/hanged-clothes.webp" alt=""></div>
            <div class="col-span-3 md:col-span-1"><img loading="lazy" class="shadow-md shadow-fuscous-gray-300 "
                    src="../../../assets/hanged-clothes.webp" alt=""></div>
            <div class="col-span-3 md:col-span-1"><img loading="lazy" class="shadow-md shadow-fuscous-gray-300 "
                    src="../../../assets/hanged-clothes.webp" alt=""></div>
        </div>
    </div>
    <div class="bg-ebb-200 py-14">
        <div class="grid grid-cols-3 gap-3 mx-3 place-items-center md:gap-8 md:mx-8">
            <div class="col-span-3 md:col-span-1"><img loading="lazy" class="shadow-md shadow-fuscous-gray-300 "
                    src="../../../assets/hanged-clothes.webp" alt=""></div>
            <div class="col-span-3 md:col-span-1"><img loading="lazy" class="shadow-md shadow-fuscous-gray-300 "
                    src="../../../assets/hanged-clothes.webp" alt=""></div>
            <div class="col-span-3 md:col-span-1"><img loading="lazy" class="shadow-md shadow-fuscous-gray-300 "
                    src="../../../assets/hanged-clothes.webp" alt=""></div>
        </div>
    </div>
</section>

<div *ngIf="isFormShown" class="backdrop-blur-sm min-w-screen h-screen transition 
    fadeIn fixed  left-0 top-0 flex justify-center items-center 
    inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover">
    <div (click)="isFormShown = false" class=" absolute bg-black opacity-20 inset-0 z-0"></div>
    <app-form (EmitForm)="submitForm($event)"
        class="w-full max-w-lg p-5 relative mx-auto my-auto rounded-sm shadow-lg  bg-white "></app-form>
</div>

<div *ngIf="isSubmitted" class="backdrop-blur-sm min-w-screen h-screen transition 
    fadeIn fixed  left-0 top-0 flex justify-center items-center 
    inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover">
    <div class=" absolute bg-black opacity-20 inset-0 z-0"></div>
    <div class="w-full max-w-lg p-5 relative mx-auto my-auto rounded-sm shadow-lg  bg-white ">
        <p>
            Solicitud enviada con exito! Te responderé lo mas pronto posible.
        </p>
    </div>
</div>