<section class="md:h-screen text-fuscous-gray-700 drop-shadow-lg">
    <div class="w-full mt-6 text-center rounded-sm bg-soft-amber-200 md:w-4/5 font-abhaya">
        <p class="grid text-6xl place-items-center md:mr-36 h-72">
            {{ 'SERVICES.SERVICES' | translate }}
        </p>
    </div>
    <div class="grid grid-cols-2 place-items-center md:-mt-24">
        <div class="col-span-2 mx-12 my-6 text-center md:col-span-1 font-assistant">
            <p class="mb-6 text-4xl font-abhaya">
                {{ 'SERVICES.TOTALLY_PERSONALIZED' | translate }}
            </p>
            <p>
                {{ 'SERVICES.DESCRIPTION' | translate }}
            </p>
            <p class="mt-6 text-2xl">
                {{ 'SERVICES.ANY_SERVICE_YOU_NEED' | translate }}
            </p>
        </div>
        <img fetchpriority="high"
            class="hidden col-span-2 mt-3 rounded-sm shadow-md md:col-span-1 shadow-fuscous-gray-300 md:mt-0 md:block"
            src="../../../assets/hanged-clothes.webp" alt="hanged clothes">
    </div>
</section>

<section class="grid grid-cols-12 gap-6 mb-6 md:mx-6 place-items-center md:mt-3">
    <app-card class="flex flex-col h-full col-span-12 mt-5 rounded-sm bg-soft-amber-200 md:col-span-4 drop-shadow-lg"
        *ngFor="let card of cards | async" [card]="card">
    </app-card>
</section>

<section class="w-full">
    <p class="my-3 text-2xl text-center font-assistant">{{ 'SERVICES.SERVICE_IN_ENGLISH_SPANISH' | translate }}</p>
    <p class="my-3 text-2xl text-center font-assistant">
        {{ 'FOR_MORE_INFORMATION' | translate }}
        <a class="hover:cursor-pointer border-b border-fuscous-gray-700"
            href="https://www.instagram.com/styledbyirina/">DM</a>
        {{ 'OR' | translate }}
        <a class="hover:cursor-pointer border-b border-fuscous-gray-700" (click)="isFormShown = true">{{ 'CLICK_HERE' |
            translate }}</a>
    </p>
    <p class="w-full my-3 text-xl text-center font-assistant">
        {{ 'PRICE_BASED_ON_DEMAND' | translate }}
    </p>
</section>
<section class="md:mx-6 pb-5">
    <app-gallery [images]="images"></app-gallery>
</section>

<section class="py-5 bg-soft-amber-200 grid place-items-center hover:cursor-pointer border-b border-fuscous-gray-700"
    (click)="isNewsletterShown = true">
    <p class="text-center">
        {{ 'SUBSCRIBE' | translate}}
    </p>
</section>

<div *ngIf="isFormShown" class="backdrop-blur-sm min-w-screen h-screen transition 
    fadeIn fixed  left-0 top-0 flex justify-center items-center 
    inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover">
    <div (click)="isFormShown = false" class=" absolute bg-black opacity-20 inset-0 z-0"></div>
    <app-form (EmitForm)="submitForm($event)"
        class="w-full max-w-lg p-5 relative mx-auto my-auto rounded-sm shadow-lg  bg-white "></app-form>
</div>

<div *ngIf="isNewsletterShown" class="backdrop-blur-sm min-w-screen h-screen transition 
    fadeIn fixed  left-0 top-0 flex justify-center items-center 
    inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover">
    <div (click)="isNewsletterShown = false" class=" absolute bg-black opacity-20 inset-0 z-0"></div>
    <app-newsletter (EmitForm)="submitForm($event)"
        class="w-full max-w-lg p-5 relative mx-auto my-auto rounded-sm shadow-lg  bg-white "></app-newsletter>
</div>

<div *ngIf="isSubmitted" class="backdrop-blur-sm min-w-screen h-screen transition 
    fadeIn fixed  left-0 top-0 flex justify-center items-center 
    inset-0 z-50 outline-none focus:outline-none bg-no-repeat bg-center bg-cover">
    <div class=" absolute bg-black opacity-20 inset-0 z-0"></div>
    <div class="w-full max-w-lg p-5 relative mx-auto my-auto rounded-sm shadow-lg  bg-white ">
        <p>
            {{ 'FORMS.REQUEST_SENT' | translate }}
        </p>
    </div>
</div>