<div class="bg-fuscous-gray-900 px-16 text-center text-soft-amber-200 py-6">
    <div>
        <h3 class=" font-assistant text-right">
            <a class="hover:cursor-pointer hover:border-b border-soft-amber-200" href="/about">IRINADELAMORENA</a>
        </h3>
        <div class=" font-assistant text-left text-2xl mb-1 border-b border-soft-amber-200 ">
            CONTACTO
        </div>
        <div class=" font-assistant text-left hover:cursor-pointer">
            <a class="hover:cursor-pointer hover:border-b border-soft-amber-200"
                href="https://www.instagram.com/styledbyirina/">@StyledByIrina</a>
        </div>
        <div class="mt-1 font-assistant text-left">
            <a class="ml-1 hover:cursor-pointer hover:border-b border-soft-amber-200"
                href="mailto:styledbyirina@example.com">STYLEDBYIRINA@GMAIL.COM</a>
        </div>
    </div>
</div>