<div class="px-16 py-6 text-center bg-ebb-100 text-fuscous-gray-700">
    <h3 class="text-right font-abhaya">
        <a class="hover:cursor-pointer hover:border-b border-fuscous-gray-700" href="/about">IRINADELAMORENA</a>
    </h3>
    <div class="mb-1 text-2xl text-left border-b font-abhaya border-fuscous-gray-700">
        {{ 'CONTACT' | translate }}
    </div>
    <div class="text-left font-abhaya hover:cursor-pointer">
        <a class="hover:cursor-pointer hover:border-b border-fuscous-gray-700"
            href="https://www.instagram.com/styledbyirina/">@StyledByIrina</a>
    </div>
    <div class="mt-1 text-left font-abhaya">
        <a class="ml-1 hover:cursor-pointer hover:border-b border-fuscous-gray-700"
            href="mailto:styledbyirina@example.com">STYLEDBYIRINA@GMAIL.COM</a>
    </div>
</div>